@import url('https://fonts.googleapis.com/css?family=Aldrich|Jura|Rajdhani');
/*font-family: 'Aldrich', sans-serif;
font-family: 'Jura', sans-serif;
font-family: 'Rajdhani', sans-serif;*/

body {
  background-image: url("../img/sky.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Jura', sans-serif;
  color: white;
}

h2,h3, h4 {
  font-family: 'Aldrich', sans-serif;
  /*margin-top: 50px;*/
}

/*not using this for anything
.fancy {
  font-family: 'Jura', sans-serif;
  font-size: 18px;
}*/

.top {
  text-align: center;
  font-family: 'Aldrich', sans-serif;
  font-size: 60px;
  font-weight: bolder;
  /*background: linear-gradient(to bottom right, rgba(218,165,32,0.8), rgba(218,165,32,0));
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;*/

  color: white;
  /*text-shadow: -1px 0 black, 0 1px black, 1px 0 white, 0 -1px white;*/
  text-shadow: 1px 1px 2px black, 0 0 25px goldenrod, 0 0 5px darkgoldenrod;
  /*text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;*/
  margin-top: 75px;
  margin-bottom: 25px;
}

.label {
  font-family: 'Jura', sans-serif;
  color: white;
  font-weight: normal;
  font-size: 20px;
}

.main-form {
  font-size: 20px;
}

.add-form {
  color: white;
  font-size: 16;
}

.add-form h4 {
  margin-top: 0;
}

.opt-hide {
  display: none;
}

input[type=date], input[type=time], select {
  border: none;
  background: linear-gradient(to bottom right, rgba(0,220,255,0.5), rgba(0,220,255,0.1));
  border-bottom: 2px solid #00DCFF;
  border-right: 2px solid #00DCFF;
  border-top: 1px solid gray;
  border-left: 1px solid gray;
  box-shadow: 2px 2px 20px #00DCFF;
  /*on windows, needs a background for options*/
  background-color: rgba(7,20,37,0.17);
  color: white;
  text-shadow: 0 0 9px #00DCFF, 0 0 1px white;
  padding: 15px 15px;
  /*padding-top: 15px;*/
  border-radius: 4px;
  margin-top: 5px;
}

input[type=date], input[type=time] {
  width: 90%;
  font-size: 20px;
}

button#main {
    background:
      linear-gradient(rgba(0,220,255,0.15), rgba(0,220,255,0)),
      linear-gradient(to right, rgb(57,94,119), rgb(44,57,72));
    /*background-color: darkgray;*/
    border-top: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    color: white;
    font-size: 18px;
    font-family: 'Aldrich', sans-serif;
    padding: 5px 10px;
    text-decoration: none;
    text-shadow: 1px 1px black;
    margin: 4px 2px;
}

button#optional-toggle {
  background:
    linear-gradient(rgba(0,220,255,0.15), rgba(0,220,255,0)),
    linear-gradient(to right, rgb(57,94,119), rgb(44,57,72));
  /*background-color: darkgray;*/
  border-top: 1px solid lightgray;
  border-left: 1px solid lightgray;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  color: white;
  font-size: 16px;
  margin: 0;
}

select {
  width: 80%;
  /*padding: 10px 10px;*/
  /*border-bottom: 1px solid blue;*/
  font-size: 16px;
}
#earth-output {
  margin-top: 100px;
}

#planets-output {
  font-size: 20px;
}
#Mercury {
  height: 10px;
  width: 10px;
  border-radius: 100%;
  background-color: lightgray;
  background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0.7));
  box-shadow: 1px 1px 10px 1px gray;
  float: right;
  position: absolute;
  z-index: -1;
}

#Venus {
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background-color: #FFFFCC;
  background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0.7));
  box-shadow: 1px 1px 10px 1px gray;
  float: right;
  position: absolute;
  z-index: -1;
}

#Mars {
  height: 15px;
  width: 15px;
  border-radius: 100%;
  background-color: indianred;
  background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0.7));
  box-shadow: 1px 1px 10px 1px gray;
  float: right;
  position: absolute;
  z-index: -1;
}

#Jupiter {
  height: 280px;
  width: 280px;
  border-radius: 100%;
  background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0.7)), linear-gradient(185deg, brown, goldenrod 20%, lemonchiffon 30%, goldenrod, maroon, cornsilk 65%, darkgoldenrod 75%, brown 80% );
  box-shadow: 1px 1px 10px 1px gray;
  float: right;
  position: absolute;
  z-index: -1;
}

#fun-facts{
  /*margin-top: 300px;*/
  background: linear-gradient(to bottom right, rgba(0,220,255,0.5), rgba(0,220,255,0.1));
  border-bottom: 2px solid #00DCFF;
  border-right: 2px solid #00DCFF;
  border-top: 1px solid gray;
  border-left: 1px solid gray;
  box-shadow: 2px 2px 20px #00DCFF;
  padding: 10px 15px;
  border-radius: 4px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: stretch;
  min-height: 100%;
  padding: 10px;
  text-shadow: 0 0 9px #00DCFF, 0 0 1px white;
}

/*#fun-facts h2 {
  margin: 0;
}*/

#fun-facts h2 {
  align-self: center;
  padding: 10px;
}

#fun-2, #fun-1, #fun-3 {
  border-left: 1px solid rgba(220,220,220,0.2);
  /*border-right: 1px solid white;*/
  padding: 10px;
  flex: 1;
  display: none;
}

/*#fun-2 {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}*/

.fun-big {
  /*border: 1px solid rgba(220,220,220,0.2);*/
  /*background: rgba(128,128,128,0.1);*/
  font-size: 20px;
  /*padding: 2px;*/
}
